<section class="chartist">
  <div class="row">
    <div class="col-md-6">
      <ba-card title="Lines" baCardClass="with-scroll">
        <h5>Simple line chaart</h5>
        <ba-chartist-chart baChartistChartClass="tc-chart"
                           baChartistChartType="Line"
                           [baChartistChartData]="data['simpleLineData']"
                           [baChartistChartOptions]="data['simpleLineOptions']">
        </ba-chartist-chart>
      </ba-card>
    </div>
  </div>
</section>
